:root {
  --color-background: #ffffff;
  --color-primary: #283ad9;
  --color-error: #e60026;
  --color-text: #333333;
  --color-primary-muted: #dfe2fa;
  --color-error-muted: #fbd9df;
  --color-text-muted: #595959;
  --color-hover: rgba(0, 0, 0, 0.05);
  --color-time-pink: #f20089;
  --color-time-red: #e60026;
  --color-time-orange: #ec6008;
  --color-time-yellow: #ffaa00;
  --space-0: 4px;
  --space-1: 8px;
  --space-2: 12px;
  --space-3: 16px;
  --space-4: 32px;
  --space-5: 64px;
  --space-6: 72px;
  --font-size-0: 16px;
  --font-size-1: 18px;
  --font-size-2: 24px;
  --font-size-3: 48px;
}

html {
  font-family: "Work Sans", sans-serif;
}

h1 {
  font-size: var(--font-size-3);
  font-weight: bold;
  font-style: italic;
}

h2 {
  font-size: var(--font-size-2);
  font-weight: bold;
  margin: var(--space-3) 0 var(--space-3);
}

.time-color-pink {
  color: var(--color-time-pink);
}

.time-color-red {
  color: var(--color-time-red);
}

.time-color-orange {
  color: var(--color-time-orange);
}

.time-color-yellow {
  color: var(--color-time-yellow);
}
