:root {
  --color-background: #ffffff;
  --color-primary: #283ad9;
  --color-text: #333333;
  --color-primary-muted: #dfe2fa;
  --color-text-muted: #595959;
  --color-hover: rgba(0, 0, 0, 0.05);
  --color-time-0: #f20089;
  --color-time-1: #e60026;
  --color-time-2: #ec6008;
  --color-time-3: #ffaa00;
  --space-0: 4px;
  --space-1: 8px;
  --space-2: 12px;
  --space-3: 16px;
  --space-4: 32px;
  --space-5: 64px;
  --space-6: 72px;
  --font-size-0: 16px;
  --font-size-1: 18px;
  --font-size-2: 24px;
  --font-size-3: 48px;
}

html {
  font-family: "Work Sans", sans-serif;
}

h1 {
  font-size: var(--font-size-3);
  font-weight: bold;
  font-style: italic;
}

h2 {
  font-size: var(--font-size-2);
  font-weight: bold;
}